/* header */
header .container {
  position: relative;
  height: 70px;
  text-align: center;
  border-bottom: 1px solid #ccc;
}

header .gnb > ul > li {
  display: inline-block;
  padding: 0 40px;
}
header .gnb > ul > li:hover > a {
  border-bottom: 3px solid #043285;
}
header .gnb > ul > li > a {
  display: inline-block;
  height: 70px;
  line-height: 70px;
  font-size: 18px;
  font-weight: 600;
}
header .gnb > ul > li > a:hover {
  border-bottom: 3px solid #043285;
}
header .gnb > ul > li > a:hover + .gnb_inner {
  display: block;
}
header .gnb .gnb_inner {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  background-color: #ececec;
  z-index: 2;
  display: none;
}
header .gnb .gnb_inner:hover {
  display: block;
}
header .gnb .gnb_inner .depth1_list {
  width: 660px;
  margin: 0 auto;
  text-align: left;
  padding: 40px 0;
}
header .gnb .gnb_inner .depth1_list > li {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin-left: 60px;
  padding-left: 60px;
  height: 100%;
}
header .gnb .gnb_inner .depth1_list > li:first-child {
  margin-left: 0;
  padding-left: 0;
}
header .gnb .gnb_inner .depth1_list > li:first-child:before {
  display: none;
}
header .gnb .gnb_inner .depth1_list > li:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 1px;
  background-color: #ccc;
}
header .gnb .gnb_inner .depth1_list > li > a {
  display: block;
  color: #1428a0;
  font-weight: bold;
  margin-bottom: 24px;
  font-size: 18px;
}
header .gnb .gnb_inner .depth1_list .depth2_list_div {
  float: left;
  margin-right: 40px;
}
header .gnb .gnb_inner .depth1_list .depth2_list li {
  margin-bottom: 20px;
  color: #333;
}

header
  .gnb
  .gnb_inner
  .depth1_list
  > li:first-child
  .depth2_list
  li:nth-child(1)
  a {
  color: #043285 !important;
  font-weight: bold;
}

header
  .gnb
  .gnb_inner
  .depth1_list
  > li:first-child
  .depth2_list
  li:nth-child(2)
  a {
  color: #043285 !important;
  font-weight: bold;
}

/*banner*/

.banner .swiper-container {
  height: 830px;
  overflow: hidden;
}

.banner .swiper-container .swiper-slide {
  position: relative;
  color: #fff;
  text-align: center;
  font-size: 40px;
  line-height: 1.6;
  transition: left 0.6s;
}

.banner .swiper-container .swiper-slide p {
  position: absolute;
  left: 50%;
  top: 200px;
  transform: translateX(-50%);
}

.banner .swiper-container .swiper-slide img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.banner .swiper-container .swiper-slide.slide1 {
  left: 0;
}

.banner .swiper-container .swiper-slide.slide2 {
  left: 100%;
}

.banner .swiper-container .swiper-slide.slide3 {
  left: 200%;
}

.banner .swiper-container .swiper-button-white {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  padding: 20px;
}

.banner .swiper-container .swiper-button-prev {
  left: 40px;
}

.banner .swiper-container .swiper-button-next {
  right: 40px;
}

/*team*/

h2 {
  font-size: 2em;
  text-align: center;
  color: #333;
}

#team-introduction {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.team-member {
  flex: 0 0 30%;
  text-align: left;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 8px;
  margin: 10px;
}

/*intro*/

.custom-section {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

#intro {
  text-align: center;
  padding: 50px 0;
  background-color: #333;
  color: #fff;
}

#intro h1 {
  font-size: 2.5em;
  margin: 0;
}

.introduction-container {
  padding: 20px;
}

.introduction {
  padding: 50px;
  background-color: #fff;
  margin: 20px 0;
}

.introduction h2 {
  font-size: 2em;
  color: #333;
}

.introduction p {
  font-size: 1.1em;
  color: #555;
  line-height: 1.6;
}

.introduction ul {
  list-style: none;
  padding: 0;
}

.introduction li {
  margin-bottom: 10px;
  color: #333;
}

.introduction a {
  color: #4285f4;
  text-decoration: none;
  font-weight: bold;
}

.introduction a:hover {
  text-decoration: underline;
}

.intro_model-body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
}

.intro_model-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.intro_model-content {
  width: 48%;
  margin-bottom: 20px;
}

.intro_model-img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.intro_model-p {
  margin-bottom: 10px;
}

.intro_model-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #3498db;
  color: #ffffff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.intro_model-button:hover {
  background-color: #2980b9;
}
